[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
pyarrow = "*"

[dev-packages]
pytest = "*"
coverage = "*"
sphinx = "*"
sphinx-autoapi = "*"

[requires]
python_version = "3.8"
